{% extends "base.html" %}

{% block content %}

    <p class="alert alert-warning">Esta página não usa Django.</p>

	<div class="row clearfix">
		 <div class="col-lg-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Donut Chart Example
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div id="donutchart" style="height: 250px;"></div>
                </div>
            </div>
        </div>
		 <div class="col-lg-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Line Chart Example
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div id="graph" style="width:500px; height: 250px;"></div>
                </div>
            </div>
        </div>
		 <div class="col-lg-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Bar Chart Example
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div id="barchart" style="width:500px; height: 250px;"></div>
                </div>
            </div>
        </div>
		 <div class="col-lg-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Area Chart Example
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div id="areachart" style="width:500px; height: 250px;"></div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}

{% block js %}
	{% load static from staticfiles %}
	<script src="{% static "js/data.js" %}"></script>
{% endblock js %}