{% extends "base.html" %}

{% block content %}

	<div class="row clearfix">
		<div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Pessoas por UF
                </div>
                <div class="panel-body">
                    <div class="col-lg-4">
                        <table class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th class="text-center">UF</th>
                                    <th class="text-center">Quant.</th>
                                </tr>
                            </thead>
                            <tbody class="text-center">
                            	{% for item in itens|slice:"23:27" %}
	                                <tr>
                                		<td>{{ item.uf }}</td>
                                		<td>{{ item.quant }}</td>
	                                </tr>
                            	{% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div id="barchart" class="col-lg-6" style="height: 250px;"></div>
                </div>
            </div>
        </div>
		<div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Porcentagem de pessoas por sexo
                </div>
                
                <div class="panel-body">
                    <div class="col-lg-4">
                        <table class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th class="text-center">Sexo</th>
                                    <th class="text-center">Porcentagem</th>
                                </tr>
                            </thead>
                            <tbody class="text-center">
                                {% for gender in genders %}
                                    <tr>
                                        <td>
                                            {% if gender.gender == 'M' %}
                                                Masculino
                                            {% else %}
                                                Feminino
                                            {% endif %}
                                        </td>
                                        <td>{{ gender.value }} %</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div id="donutchart" class="col-lg-6" style="height: 250px;"></div>
                </div>
            </div>
        </div>
<!--		<div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Line Chart Example
                </div>
                
                <div class="panel-body">
                    <div class="col-lg-4">
                        <table class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th class="text-center">Period</th>
                                    <th class="text-center">Licensed</th>
                                    <th class="text-center">Sorned</th>
                                </tr>
                            </thead>
                            <tbody class="text-center">
                                <tr>
                                    <td>2015-10-01</td>
                                    <td>3407</td>
                                    <td>660</td>
                                </tr>
                                <tr>
                                    <td>2015-09-30</td>
                                    <td>3351</td>
                                    <td>629</td>
                                </tr>
                                <tr>
                                    <td>2015-09-29</td>
                                    <td>3269</td>
                                    <td>618</td>
                                </tr>
                                <tr>
                                    <td>2015-09-25</td>
                                    <td>4500</td>
                                    <td>1000</td>
                                </tr>
                                <tr>
                                    <td>2015-09-20</td>
                                    <td>3746</td>
                                    <td>661</td>
                                </tr>
                                <tr>
                                    <td>2015-09-19</td>
                                    <td>3957</td>
                                    <td>667</td>
                                </tr>
                                <tr>
                                    <td>2015-09-18</td>
                                    <td>3600</td>
                                    <td>627</td>
                                </tr>
                                <tr>
                                    <td>2015-09-17</td>
                                    <td>2571</td>
                                    <td>660</td>
                                </tr>
                                <tr>
                                    <td>2015-09-16</td>
                                    <td>3171</td>
                                    <td>676</td>
                                </tr>
                                <tr>
                                    <td>2015-09-15</td>
                                    <td>1201</td>
                                    <td>300</td>
                                </tr>
                                <tr>
                                    <td>2015-09-10</td>
                                    <td>0</td>
                                    <td>0</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div id="graph" class="col-lg-6" style="height: 250px;"></div>
                </div>
            </div>
        </div>

		<div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Area Chart Example
                </div>
                
                <div class="panel-body">
                    <div class="col-lg-4">
                        <table class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th class="text-center">Period</th>
                                    <th class="text-center">iphone</th>
                                    <th class="text-center">ipad</th>
                                    <th class="text-center">itouch</th>
                                </tr>
                            </thead>
                            <tbody class="text-center">
                                <tr>
                                    <td>2013 Q1</td>
                                    <td>2666</td>
                                    <td>null</td>
                                    <td>2647</td>
                                </tr>
                                    <td>2013 Q2</td>
                                    <td>2778</td>
                                    <td>2294</td>
                                    <td>2441</td>
                                </tr>
                                    <td>2013 Q3</td>
                                    <td>4912</td>
                                    <td>1969</td>
                                    <td>2501</td>
                                </tr>
                                    <td>2013 Q4</td>
                                    <td>3767</td>
                                    <td>3597</td>
                                    <td>5689</td>
                                </tr>
                                    <td>2014 Q1</td>
                                    <td>6810</td>
                                    <td>1914</td>
                                    <td>2293</td>
                                </tr>
                                    <td>2014 Q2</td>
                                    <td>5670</td>
                                    <td>4293</td>
                                    <td>1881</td>
                                </tr>
                                    <td>2014 Q3</td>
                                    <td>4820</td>
                                    <td>3795</td>
                                    <td>1588</td>
                                </tr>
                                    <td>2014 Q4</td>
                                    <td>15073</td>
                                    <td>5967</td>
                                    <td>5175</td>
                                </tr>
                                    <td>2015 Q1</td>
                                    <td>10687</td>
                                    <td>4460</td>
                                    <td>2028</td>
                                </tr>
                                    <td>2015 Q2</td>
                                    <td>8432</td>
                                    <td>5713</td>
                                    <td>1791</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div id="areachart" class="col-lg-6" style="height: 250px;"></div>
                </div>
            </div>
        </div> -->
    </div>

{% endblock content %}

{% block js %}

	<script type="text/javascript">
        var json = (function(){
            var json = null;
            $.ajax({
                async: false,
                global: false,
                url: "{% url 'uf_json' %}",
                type: 'GET',
                dataType: 'json',
                success: function (data) {
                    json = data;
                    console.log(json);
                }
            });
            return json;
        });
        console.log(json + "here");

        Morris.Bar({
            element: 'barchart',
            data: json,
            /* data: [
                {% for item in itens %}
                    { uf: '{{ item.uf }}', quant:  {{ item.quant }} },
                {% endfor %}
            ], */
            xkey: 'uf',
            ykeys: ['quant'],
            labels: ['quant'],
            hideHover: 'auto',
            resize: true,
        });
    </script>

    <script type="text/javascript">
        Morris.Donut({
            element: 'donutchart',
            data: [
                {% for gender in genders %}
                    { label: '{{ gender.gender }}', value:  {{ gender.value }}},
                {% endfor %}
            ],
            colors: [
              '#FF00FF', // magenta
              '#0000CD', // azul
            ],
            formatter: function (x) { return x + "%"}
        });
    </script>
{% endblock js %}